.copyText {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyText input.text {
    font-family: 'Poppins';
    padding: 5px;
    font-size: 14px;
    color: #000;
    border: 1px solid black;
    outline: none;
    width: 75%;
    border-radius: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.copyText button {
    position: absolute;
    right: 48px;
    padding: 6px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    /* box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; */
}

.shareIcons {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    width: 75%;
    margin: 5px auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1rem;
}