/* @media only screen and (max-width:688px){ */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: 'Poppins';
    padding: 1rem 1.5rem 1rem 1rem;
    margin: 1.5rem 0.7rem 1rem 0.7rem;
}

.appAbout p {
    font-size: 14px;
}

.appLast p {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 30px;
}

.appLast p:last-child {
    margin-top: 4px;
}

.appVersion {
    color: #949292;
}

.appPolicy {
    font-weight: 500;
    font-size: 18px;
}

/* } */